.App {
  text-align: center;
  color: #222;
  margin: 0 auto;
  text-align: left;
  font-size: 14px;
  font-weight: 100;
  font-family: Helvetica Neue;
}

.App-logo {
  animation: App-logo-spin forwards 0.6s linear;
  height: 80px;
}

.App-header {
  position: absolute;
  right: 1em;
  bottom: 1em;
  z-index: 10;
}

.App-intro {
  font-size: large;
}

.arrow {
    width: 8.9%;
position: absolute;
top: 2.4em;
right: 1em;
}
.map, .leaflet-container {
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #f7f4f4;
    position: absolute;
    z-index: 1;
}


.list {
    max-width: 320px;
        border: 1px solid #ececec;
        padding: 1em;
        margin-top: 0.5em;
        max-height: calc(100vh - 3em);
        position: absolute;
        z-index: 8;
        background: #fefb01;
        margin: 0.5em;
        overflow: scroll;
        min-width: 240px;
        box-shadow: 2px 2px 14px rgba(51, 51, 51, 0.08);
}


.react-sanfona {
    display: none;
}

.list:hover > .react-sanfona {
    display: block;
}

.react-sanfona-item {
    margin-bottom: 0.5em;
    color: #0096e1;
    font-weight: 800;
    font-size: 16px;
}

.react-sanfona-item-expanded {
    margin-left: -1em;
    padding: 1em;
    width: calc(100% + 1em);
    background: #0096e1;
    color: #fefb01;
}

.react-sanfona-item-expanded .react-sanfona-item-title {
  font-weight: 800;
}

.react-sanfona-item:hover {
    text-decoration: underline;
}


h3 {
    font-weight: 600;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 14px;
}



@keyframes App-logo-spin {
  0% { transform: rotate(-20deg); opacity:0}
  70% { transform: rotate(10deg); opacity:1}
  90% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}
