.App {
  text-align: center;
  color: #222;
  margin: 0 auto;
  text-align: left;
  font-size: 14px;
  font-weight: 100;
  font-family: Helvetica Neue;
}

.App-logo {
  animation: App-logo-spin forwards 0.6s linear;
  height: 80px;
}

.App-header {
  position: absolute;
  right: 1em;
  bottom: 1em;
  z-index: 10;
}

.App-intro {
  font-size: large;
}

.map, .leaflet-container {
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #f7f4f4;
    position: absolute;
    z-index: 1;
}


.list {
    max-width: 320px;
    border: 1px solid #ececec;
    padding: 1em;
    margin-top: 0.5em;
    height: calc(100vh - 1em);
    position: absolute;
    z-index: 8;
    background: #fff;
    margin: 0.5em;
}

.react-sanfona {
    min-width: 240px;
}


.react-sanfona-item {
    margin-bottom: 0.5em;
}
.react-sanfona-item-expanded {
    font-weight: 300;
    padding: 0.5em 0.5em 1em;
    border-left: 4px solid #2c83cb;
}

.react-sanfona-item-expanded .react-sanfona-item-title {
  font-weight: 800;
}


h3 {
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}



@keyframes App-logo-spin {
  0% { transform: rotate(-20deg); opacity:0}
  70% { transform: rotate(10deg); opacity:1}
  90% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}
